*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;

}
body{
    background: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.hdwallpapers.in%2Fdownload%2Fspring_in_white_purple_lights_bokeh_background_hd_purple-HD.jpg&tbnid=tx3BAzpdXdcQlM&vet=10CDIQMyh9ahcKEwjI3eDdu7-AAxUAAAAAHQAAAAAQAw..i&imgrefurl=https%3A%2F%2Fwww.hdwallpapers.in%2Fspring_in_white_purple_lights_bokeh_background_hd_purple-wallpapers.html&docid=zIgUjThNDW_sJM&w=1920&h=1080&q=purple%20background%20images&ved=0CDIQMyh9ahcKEwjI3eDdu7-AAxUAAAAAHQAAAAAQAw') no-repeat;
    background-size: cover;
    background-position: center;
}
.contains{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                       5px 5px 12px  rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);

}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ecf0f3,
                inset  5px  5px  12px rgba(0,0,0,.16);
    border :none;
    border-radius: 30px;;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding:20px;


}
button{
    height: 48px;
    width: 48px;
    background-color:#ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                       5px 5px 12px rgb(0,0,0,.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 12px #ffffff,
                inset  5px 5px 12px rgb(0,0,0,.16);
}
